.admin-container {
    min-height: 100vh;
    background-color: #f5f7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-header {
    width: 100%;
    background-color: rgb(247, 218, 239);
    padding: 30px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
}

.admin-header h1 {
    font-size: 40px;
}

.admin-header p {
    margin-top: 10px;
    opacity: 0.9;
    font-size: 15px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.action-buttons {
    width: 200px;
}