@if (carregando()) {
<p>Carregando produtos...</p>

} @else {
<h1>Lista de produtos</h1>

<div id="mainDiv">
    <mat-card *ngFor="let produto of produtos()" class="example-card" appearance="outlined">

        <mat-card-header>
            <mat-card-title>{{produto.title}}</mat-card-title>
            <mat-card-subtitle>{{produto.category}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>Preço: {{produto.price | currency: 'USD'}}</p>
        </mat-card-content>

        <img mat-card-image [src]="produto.image" alt="Foto do produto" id="imgProduto">
    </mat-card>
</div>

<button matButton="tonal" class="buttons" (click)="logout()">Sair</button>

@if (usuarioAdmin()) {
<button matButton="tonal" class="buttons" (click)="redirectPainelAdmin()">Painel-adm</button>
}
}