h1 {
    text-align: center;
}

#mainDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.example-card {
    width: 438px;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.example-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#imgProduto {
    margin: 0 auto;
    width: 250px;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.buttons {
    display: block;
    width: 150px;
    margin: 30px auto;
}